{
  "extends": "standard",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "no-multiple-empty-lines": [1, {"max": 2}],
    "one-var": [2, "always"],
    "one-var-declaration-per-line": [2, "always"],
    "semi": [2, "always"]
  }
}