.carousel-control {
  left: 5px;
}

#home-banner {
  color: #222222;
  background: #DDE1E6;
  .carousel-inner > .item .jumbotron {
    position: static;
    border: none;
    color: #555555;
    background: none;
    padding-bottom: 30px;
    @media (min-width: 768px){
      position: absolute;
    }
    p {
      text-shadow: none;
    }
  }
  .carousel-inner > .item .jumbotron.left {
    text-align: left;
  }
  .carousel-caption {
    @media (min-width: 992px){
      left: 120px;
      right: 120px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .carousel-control {
    background: none;
    width: 60px;
    .fa {
      font-size: 200%;
      position: absolute;
      top: 50%;
      text-shadow: none;
      color: #000;
    }
    .fa-angle-left {
      left: 10px;
    }
  }
}

.container .jumbotron {
  border-radius: 0;
  text-align: right;
  margin-bottom: 0;
  h1 {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6), 0 1px 0 rgba(255, 255, 255, 0.6);
  }
}

.carousel {
  position: relative;

}


ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

.btn-primary {
  text-transform: uppercase;
  font-weight: 600;
  background-color: #0c4d6c;
  border-color: #093d55;
}

.btn {
  border-radius: 0;
}

.carousel-indicators {
  li {
    border: 1px solid #ddd;
  }
  .active {
    background-color: #999;
  }
}
