body {
  background: #DDE1E6;
}

.align-right {
  text-align: right;
}

.navbar {
  border-radius: 0;
}

.navbar-default .container{
   background: #fff;
   border-bottom: 1px solid #cfcfcf;
   box-shadow: 1px 0 0 0 #e7e7e7, -1px 0 0 0 #e7e7e7;
}

.nav-user{
  padding: 10px 15px;
}

.navbar-form {
  @media (min-width: 1010px) {
    margin-left: 35px;
  }
}

.dropdown-menu > li > b {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size: 16px;
}
