.navbar {
  border-radius: 0;
  margin-bottom: 0; }

.navbar-default {
  border-color: #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: inherit;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 1010px) {
  .navbar-form {
    margin-left: 35px; } }

.navbar-form .btn-default {
  border-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.navbar-form .form-group > .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.dropdown-menu > li > b {
  text-align: center; }

.dropdown-menu > .navbar-form {
  margin-left: 0; }

.dropdown-menu > .navbar-form .btn-default {
  border: 1px solid transparent;
  border-top: 0;
  border-color: #ccc;
  border-radius: 0 0 4px 4px; }

.dropdown-menu > .navbar-form .form-password {
  border-bottom-right-radius: 0; }

i.fa.fa-shopping-cart.active {
  color: #337ab7; }
 #337ab7; }
