.product-card {
  border-color: white;
  border-radius: 1px;
  box-shadow: 1px 1px 1px grey;
  background-color: #ffffff;
  margin: 5px;
  padding-top: 15px;
  box-sizing: border-box;
  display: inline-block;
}
