
.products-container{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.weak {
  font-weight: lighter;  
}

.product-card {
  border-color: white;
  border-radius: 1px;
  box-shadow: 1px 1px 1px grey;
  background-color: #ffffff;
  margin: 5px;

  padding: 0px 0px; 


  img {
    width: 100%; 
    padding: 1em; }

  .text-container {
    text-align: center; 
    padding-bottom: 2em; }

  .card-header {
    h1 {
      margin-bottom: 0; } }

.product-detail-container {
  margin-top: 1em;
  border-color: white;
  border-radius: 1px;
  box-shadow: 3px 3px 3px grey; 
  background-color: #ffffff;
  padding: 1em;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  .image-container {

  }
}