.products-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.product-card {
  border-color: white;
  border-radius: 1px;
  box-shadow: 1px 1px 1px grey;
  background-color: #ffffff;
  margin: 5px;
  padding: 1em;
  text-align: center; }
  .product-card img {
    width: 100%; }
  .product-card h1 {
    margin-bottom: 0; }

.weak {
  font-weight: lighter; }

.product-detail-container {
  height: 100%;
  margin: 5px;
  border-color: white; }
  .product-detail-container .main-image {
    max-height: 600px;
    max-width: 100%; }
  .product-detail-container .thumbnails > img {
    max-height: 100%;
    max-width: 100%; }
  .product-detail-container .test {
    box-shadow: 3px 3px 3px grey; }
  .product-detail-container .card {
    background-color: #ffffff;
    margin-bottom: 1em;
    border-radius: 2px;
    padding-bottom: 1em;
    box-shadow: 3px 3px 3px grey; }
