
.products-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.products-column {
  height: 100%;
}

.product-card {
  border-color: white;
  border-radius: 1px;
  box-shadow: 1px 1px 1px grey;
  background-color: #ffffff;
  margin: 5px;
  padding: 1em; 
  text-align: center; 
  width: 100%;

  img {
    width: 100%; }

  h1 {
    margin-bottom: 0; } 
}

.weak {
  font-weight: lighter;  
}

.product-detail-container {
  height: 100%;
  margin: 5px;
  border-color: white;
  .main-image {
    padding: 1em;
    max-height: 600px;
    max-width:  100%; 
    margin-bottom: 1em;

    img {
      display: block;
      margin: auto; } }

  .thumbnails > img {
    max-height: 100%;
    max-width: 100%;  }

  .card {
    background-color: #ffffff;
    margin-bottom: 1em;
    border-radius: 2px;
    padding: 1em;
    box-shadow: 3px 3px 3px grey; 
    padding-top: 1em; 
    img {
      max-width:100%;
      max-height: 100%; }
  }

  .reviews-box {
    padding: 1em 1em; }

}
/*
.card > :hover {
  box-shadow: 5px 5px 5px grey;
}
*/
